packages/api/src/migrations
packages/api/src/__generated__
packages/web/__generated__
packages/web/dist
packages/@gadgetinc/themes/dist
packages/@test-apps/react-mobx-realworld-example-app/build
packages/@test-apps/next-kitchen-sink/.next
node_modules
.eslintrc.js
jest.config.js
tmp