{
  "log": {
    "_recordingName": "useActionFormNested/with polly/can create multiple HasMany relationships",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d45c16a549157f008d835506b3c7fac7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-gadget-environment",
              "value": "Development"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"operationName\":\"createQuiz\",\"query\":\"mutation createQuiz($quiz: CreateQuizInput) {\\n  createQuiz(quiz: $quiz) {\\n    success\\n    errors {\\n      message\\n      code\\n      ... on InvalidRecordError {\\n        validationErrors {\\n          message\\n          apiIdentifier\\n          __typename\\n        }\\n        __typename\\n      }\\n      __typename\\n    }\\n    quiz {\\n      __typename\\n      createdAt\\n      id\\n      text\\n      updatedAt\\n    }\\n    __typename\\n  }\\n  gadgetMeta {\\n    hydrations(modelName: \\n\\\"quiz\\\")\\n    __typename\\n  }\\n}\",\"variables\":{\"quiz\":{\"questions\":[{\"text\":\"test question - 1\"},{\"text\":\"test question - 2\"}],\"text\":\"test quiz\"}}}"
          },
          "queryString": [
            {
              "name": "operation",
              "value": "createQuiz"
            }
          ],
          "url": "https://zxcv-deeply-nested--development.gadget.app/api/graphql?operation=createQuiz"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 645,
            "text": "{\"errors\":[{\"message\":\"Variable \\\"$quiz\\\" got invalid value { text: \\\"test question - 1\\\" } at \\\"quiz.questions[0]\\\"; Field \\\"text\\\" is not defined by type \\\"QuestionHasManyInput\\\".\",\"locations\":[{\"line\":1,\"column\":21}],\"extensions\":{\"fromSandbox\":false}},{\"message\":\"Variable \\\"$quiz\\\" got invalid value { text: \\\"test question - 2\\\" } at \\\"quiz.questions[1]\\\"; Field \\\"text\\\" is not defined by type \\\"QuestionHasManyInput\\\".\",\"locations\":[{\"line\":1,\"column\":21}],\"extensions\":{\"fromSandbox\":false}}],\"data\":null,\"extensions\":{\"logs\":\"https://ggt.link/logs/150608/60690fab35f8e788486ffe3bdf93d144\",\"traceId\":\"60690fab35f8e788486ffe3bdf93d144\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "2249"
            },
            {
              "name": "x-trace-id",
              "value": "60690fab35f8e788486ffe3bdf93d144"
            },
            {
              "name": "x-gadget-served-by",
              "value": "nginx-green"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 138,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
