/* This conceals the dropdown hour/minute selector. It is bright blue and cannot be styled to match the rest of an app */
.shadcn-auto-form-time-input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.shadcn-auto-form-time-input {
  color: currentColor;
  background-color: inherit;
}

.shadcn-auto-form-time-input:focus-visible {
  outline: none;
  border-color: var(--ring);
}
