name: "Test"
on:
  push:
  workflow_call:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-test-env
      - name: Build all packages (so they can require each other)
        run: pnpm build
      - name: Test
        run: pnpm test
      - name: Build example package
        run: pnpm --filter=blog-example build-vite
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-test-env
      - name: Build all packages (so they can require each other)
        run: pnpm build
      - name: Lint
        run: pnpm lint
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-test-env
      - name: Build all packages (so they can require each other)
        run: pnpm build
      - name: Typecheck
        run: pnpm typecheck
  versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-test-env
      - name: Check dependency versions
        run: pnpm check-dependency-versions
  bundle-sizes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-test-env
      - name: Build all packages (so they can require each other)
        run: pnpm build
      - name: Build test bundles
        run: pnpm -F=test-bundles test-build
      - name: Send imperative bundle stats to RelativeCI
        uses: relative-ci/agent-action@v2
        with:
          webpackStatsFile: ./packages/test-bundles/dist/api-read-webpack-stats.json
          key: ${{ secrets.RELATIVE_CI_IMPERATIVE_CLIENT_BUNDLE_KEY }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Send react bundle stats to RelativeCI
        uses: relative-ci/agent-action@v2
        with:
          webpackStatsFile: ./packages/test-bundles/dist/react-read-webpack-stats.json
          key: ${{ secrets.RELATIVE_CI_REACT_BUNDLE_KEY }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Send shopify bundle stats to RelativeCI
        uses: relative-ci/agent-action@v2
        with:
          webpackStatsFile: ./packages/test-bundles/dist/shopify-read-webpack-stats.json
          key: ${{ secrets.RELATIVE_CI_SHOPIFY_BUNDLE_KEY }}
          token: ${{ secrets.GITHUB_TOKEN }}
